/* This CSS files handles stylings of big screen devices */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Common class */
.flex{
    display: flex;
}
/* Common class */

:root {
    --orange: #ff5202;
    --lightGrey: #a6a2a2;
    --normalGrey: #b8b7b7;
    --darkBlue: #262543;
}

/* <!-- Container-1 Start --> */

.container-1, .container-2, .container-3{
    width: 80%;
    margin: auto;
    height: 100%;
}

/* <!-- Container-1 End --> */

/* <!-- Nav bar start --> */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.burger-menu{
    display: none;
}

.logo{
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo span{
    color: var(--darkBlue);
}

.link{
    text-decoration: none;
    list-style: none;
    gap: 2rem;
    color: var(--lightGrey);
}

.link li:hover{
    color: var(--orange);
    font-weight: bold;
}

.button{
    border: 1px solid black;
    font-weight: bold;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
}

.profile-img{
    display: none;
}

/* <!-- Nav bar end --> */

/* <!-- Main part start --> */

.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
}

.left-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-content h1{
    font-size: 3.5rem;
}

.left-content h3{
    color: var(--lightGrey);
    border-left: 1px solid var(--lightGrey);
    padding: 0 10rem 0 1rem;
}

.right-content{
    position: relative;
    margin: 15% 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: 75vh;
}

.right-content img{
    position: absolute;
}

.background{
    width: 90%;
}

.pattern {
    z-index: 2;
    width: 32vw;
    top: -6vh;
    right: 1vw;
}
  
.boy {
    left: 5vw;
    width: 20vw;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
  
.green-arrow {
    bottom: 0;
    left: 1vw;
}

.orange-arrow{
    left: -4vw;
    top: -6vh;
}

.circle {
    bottom: 0;
    right: 0;
}

.content-button{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    column-gap: 2%;
    height: 4rem;
}

.content-button .button-1 {
    border: none;
    background-color: var(--orange);
    padding: 1rem 2rem;
    color: #ffffff;
}

.content-button .button-2 {
    border: 1px solid black;
    font-weight: bold;
    padding: 1rem 2rem;
}

.content-button img {
    position: absolute;
    top: 35%;
    right: 20%;
    width: 20%;
}

/* <!-- Main part end --> */

/* <!-- Footer part start --> */
/* <!-- service box start --> */

footer {
    background-color: var(--darkBlue);
    color: #fff;
  }

.service-box{
    padding: 4rem 0rem;
    gap: 3rem;
    width: 100%;
}

.service-box h1{
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
}

.service-box h2{
    color: #ffffff;
    padding-bottom: 0.7rem;
}

.service-box p, span{
    color: var(--lightGrey);
}

.service-box img {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.col:nth-child(2) img{
    background-color: #1cd7af;
}

.col:nth-child(3) img {
    background-color: #fc5b11;
}
  
.col:nth-child(4) img {
    background-color: #525bf1;
}

/* <!-- service box end --> */
/* <!-- Footer part end --> */

/* This css files handles stylings of mobile devices  */
@media only screen and (max-width: 576px) {

/* <!-- Header part responsive design start --> */

.burger-menu, .profile-img{
    display: block;
}

.link, .button{
    display: none;
}

/* <!-- Header part responsive design end --> */

/* <!-- main part responsive design start --> */

.content{
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    margin: 2% auto;
    height: 100%;
}

.left-content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 0;
    justify-content: left;
}

.left-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.left-content h3 {
    font-size: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    margin-bottom: 2rem;
}

.right-content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    min-height: 50vh;
}

.right-content img {
    object-fit: contain;
    width: auto;
}

.right-content .background{
    width: 60%;
    top: -10vh;
    left: 16vw;
}

.right-content .boy{
    top: -10vh;
    left: 24vw;
}

.right-content .pattern{
    width: 65%;
    top: -15vh;
    left: 15vw;
}

.right-content .orange-arrow{
    top: -15vh;
    left: 15vw;
}

.right-content .green-arrow{
    bottom: -15vh;
    left: 3vw;
}

.right-content .circle{
    right: 10vw;
}

.content-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0 auto 15vh auto;
    font-size: 0.8rem;
}

.content-button .button-1, .content-button .button-2{
    padding: 5vh;
    width: 30vw;
    text-align: center;
}

.content-button img {
    position: absolute;
    top: 18vh;
    right: 5vw;
    width: 20%;
}

/* <!-- main part responsive design end --> */

/* footer part responsive design start */
.service-box {
    flex-direction: column;
    text-align: center;
  }

.service-box .col {
    width: 70%;
    margin: 7% auto;
  }
}

/* footer part responsive design end */
